<!DOCTYPE html>
<html lang="en">
    <head>
        <title>RubberDucking</title>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="/public/Login.css">
    </head>
    <body>
            <header class="landing_heading">
                <h1>Quiz up!</h1>
            </header>
            <main>
                <img src="/public/images/logo.jpeg" class="logo" alt="Circular Image of Logo">
                <p>Questions:</p>
                <form id="ansScore" action="/" method="post"> 
                    <div class="quiz", id="Questions">
                    {{#each this}}
                        <p>{{ question }}</p>
                        {{!-- <input type="radio" name="q1" value="a"> {{ options }}<br> --}}
                        {{!-- <input type="radio" name="q1" value="b"> {{ secondOp }}<br> --}}
                        <input type="hidden" name="question" value="{{question}}"/>
                        {{#each options}}
                            {{!-- <input type="radio" name="q1" value="a"> {{ this }}<br> --}}
                            {{!-- <input type="radio" name= {{question}} value= {{this}}> {{ this }}<br>
                            <input type="hidden" name="question" value="{{question}}"/> --}}
                            <input type="radio"  name="{{../question}}" value="{{this}}"> {{ this }}<br>
                        {{/each}}
                    {{/each}}
                    </div>
                    <button type="submit">Generate Score</button>
                </form>
                <ul id="Status"></ul>
            </main>
            {{!-- <script src="/public/displayQs.js"></script> --}}
            {{!-- <script src="/public/genScore.js"></script> --}}
    </body>
</html>
